@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  font-size: 12px;

  --color-primary: #42b983;
  --color-secondary: #fff;

  --font-family: 'Montserrat', sans-serif;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

input[type='text'], input[type='email'], 
input[type='password'], input[type='number'], 
input[type='date'], select, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

label {
  font-weight: bold;
}

a {
  color: #42b983;
  text-decoration: none;
}

input[type='submit'], a.btn-primary, .unitChoose-active {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type='submit']:hover, a.btn-primary:hover {
  background-color: #2a9d8f;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

input[type='submit'].secondary, a.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type='submit'].secondary:hover, a.btn-secondary:hover {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 4rem;
}

.warning {
  background-color: #fff3cd;
  border-radius: 25px;
  padding: 1rem;
  position: relative;
}

.warning::after {
  content: 'x';
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  cursor: pointer;
}

/* media queries */
/* Desktop */

@media (min-width: 768px) {
  :root{
    font-size: 12px;
  }

  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}