.login-form-layout {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter:blur(2px);

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.login-form {
    width: 340px;
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
    position: fixed;
    top: calc(50% - 170px);
    left: calc(50% - 170px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* .login-form--input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
} */

.login-form__submit {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}