{% extends "base.html.twig" %}

{% block body %}

<header>
  <nav>
    <ul>
      <li class='brand'><a href="">{{ title }}</a></li>
      <div data-controller="nav">
      </div>
    </ul>
  </nav>
</header>



{% endblock %}
